{% extends "base.html.twig" %}

{% block title %}
  - Nouvelle partie
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("new") }}
{% endblock %}


{% block body %}

  <div class="container" id="play-container">
    <form action="{{ path("game") }}" method="POST">

      <div class="field">

        <label class="label" for="joueurs">Nombre de joueurs (2-7)</label>
        <div class="control p-2 mx-6">
          <div class="select">
            <select id="select-joueurs">
              {% for i in 2..7 %}
                <option value="{{ i }}">{{ i }} Joueurs</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="player-names-wrapper" id="player-names-wrapper">
        <div class="field is-horizontal">
          <label for="" class="label">Joueur 1</label>
          <div class="control">
            <input type="text" class="input" id="1" name="1" value="{{ user.pseudo }}" disabled>
          </div>
        </div>
        <div id="other-players"></div>
        <div class="field submit">
          <div class="control">
            <input class="button is-link" type="submit" value="Jouer">
          </div>
        </div>
      </div>


    </form>
  </div>
{% endblock %}
