{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="columns mt-6">
        <div class="column is-one-third is-offset-4">
            <div class="field">
                <center><h1  class="label" style="font-size: 2.5em;">Inscription</h1></center>
                {# Commencer un formulaire #}
                {{ form_start(registrationForm) }}
                    {# Appel des champs du formulaire #}
                    {{ form_errors(registrationForm.mail) }}
                    <label class="label">{{ form_label(registrationForm.mail) }}</label>
                    {{ form_widget(registrationForm.mail) }}

                    {{ form_errors(registrationForm.pseudo) }}
                    <label class="label">{{ form_label(registrationForm.pseudo) }}</label>
                    {{ form_widget(registrationForm.pseudo) }}

                    {{ form_errors(registrationForm.plainPassword) }}
                    <label class="label">{{ form_label(registrationForm.plainPassword) }}</label>
                    <input class="input" {{ form_widget(registrationForm.plainPassword) }}

                    <center><button class="button is-primary mt-5" type="submit">S'inscrire</button></center>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>                
{% endblock %}
