{% extends 'base.html.twig' %}

{% block title %} - Inscription{% endblock %}

{% block navbarCommon %}
    <div class='navbar-brand'>
        <a class="navbar-item" href="{{ path('accueil') }}" id="logo">
            <img src="/safari-pinned-tab.svg" id="svg-icon">
            <p class="m-1 is-size-5">Pickomino</p>
        </a>
        {# Burger for mobile or small screens #}
        <a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target="navMenu">
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        </a>
    </div>
    {# Main menu #}
    <div class='navbar-menu' id="navMenu">
        {# Left part of the main menu #}
        <div class='navbar-start is-size-4'>
            {# 
                Each link is supposed to have a call to path('routeName').
                To use active link styles we use a Twig if: if route_name == routeName we add the "is-active" class to the link.
            #}
            <a href="{{ path('accueil') }}" class="anchorTemplate navbar-item is-tab {% if route_name == 'accueil' %}is-active {% else %} {% endif %}">Accueil</a>
            <a href='{{ path('regle') }}' class="anchorTemplate navbar-item is-tab {% if route_name == 'regle' %}is-active {% else %} {% endif %}">Règles</a>
            <a href='{{ path('play') }}' class="anchorTemplate navbar-item is-tab {% if route_name == 'play' %}is-active {% else %} {% endif %}">Jouer</a>
        </div>
        {# Right part of the main menu #}
        <div class='navbar-end'>
            <div class='navbar-item'>
                {% if not app.user %}
                    <div class='buttons'>
                        <a href='{{ path('app_register') }}' class='button is-primary'>S'inscrire</a>
                        <a href='{{ path('app_login') }}' class='button is-primary'>Se connecter</a>
                    </div>
                {% else %}
                    {% block saveButton %}{% endblock %}
                    <a href="{{ path('app_logout') }}" class="anchorTemplate button is-primary">Se déconnecter</a>    
                {% endif %}
                {% if app.user %}
                    <span class="icon ml-5 is-medium has-background-white">
                        <a class="anchorTemplate" href="{{ path('compte_parameters') }}"><i class="has-text-primary" data-feather="user"></i></a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="columns mt-6">
        <div class="column is-one-third is-offset-4">
            <div class="field">
                <center><h1  class="title" style="font-size: 2.5em;">Inscription</h1></center>
                {# Commencer un formulaire #}
                {{ form_start(registrationForm) }}
                    {# Appel des champs du formulaire #}
                    {{ form_errors(registrationForm.mail) }}
                    <label class="label">{{ form_label(registrationForm.mail) }}</label>
                    {{ form_widget(registrationForm.mail) }}

                    {{ form_errors(registrationForm.pseudo) }}
                    <label class="label">{{ form_label(registrationForm.pseudo) }}</label>
                    {{ form_widget(registrationForm.pseudo) }}

                    {{ form_errors(registrationForm.plainPassword) }}
                    <label class="label">{{ form_label(registrationForm.plainPassword) }}</label>
                    <div class="control">
                        <input class="input" {{ form_widget(registrationForm.plainPassword) }}
                    </div>

                    <center><button class="button is-primary mt-5 mb-6" type="submit">S'inscrire</button></center>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>                
{% endblock %}
