{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block navbarCommon %}
    <div class='navbar-brand'>
        <a class="navbar-item" href="{{ path('accueil') }}" id="logo">
            <img src="/safari-pinned-tab.svg" id="svg-icon">
            <p class="m-1 is-size-5">Pickomino</p>
        </a>
        {# Burger for mobile or small screens #}
        <a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target="navMenu">
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        </a>
    </div>
    {# Main menu #}
    <div class='navbar-menu' id="navMenu">
        {# Left part of the main menu #}
        <div class='navbar-start is-size-4'>
            {# 
                Each link is supposed to have a call to path('routeName').
                To use active link styles we use a Twig if: if route_name == routeName we add the "is-active" class to the link.
            #}
            <a href="{{ path('accueil') }}" class="anchorTemplate navbar-item is-tab {% if route_name == 'accueil' %}is-active {% else %} {% endif %}">Accueil</a>
            <a href='{{ path('regle') }}' class="anchorTemplate navbar-item is-tab {% if route_name == 'regle' %}is-active {% else %} {% endif %}">Règles</a>
            <a href='{{ path('play') }}' class="anchorTemplate navbar-item is-tab {% if route_name == 'play' %}is-active {% else %} {% endif %}">Jouer</a>
        </div>
        {# Right part of the main menu #}
        <div class='navbar-end'>
            <div class='navbar-item'>
                {% if not app.user %}
                    <div class='buttons'>
                        <a href='{{ path('app_register') }}' class='button is-primary'>S'inscrire</a>
                        <a href='{{ path('app_login') }}' class='button is-primary'>Se connecter</a>
                    </div>
                {% else %}
                    {% block saveButton %}{% endblock %}
                    <a href="{{ path('app_logout') }}" class="anchorTemplate button is-primary">Se déconnecter</a>    
                {% endif %}
                {% if app.user %}
                    <span class="icon ml-5 is-medium has-background-white">
                        <a class="anchorTemplate" href="{{ path('compte_parameters') }}"><i class="has-text-primary" data-feather="user"></i></a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <main class="container">
        {# game presentation #}
        <section class="section">

        {% for message in app.flashes('success') %}
            <div class="columns has-background-success mt-3 has-text-white has-text-weight-bold p-2">
                {{ message }}
            </div>
        {% endfor %}

            <p class="is-size-3 is-uppercase">Pickomino</p>
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, quisquam aliquid iste nihil molestias facere obcaecati asperiores sit. 
                    Nihil distinctio officiis blanditiis ea eius sed ex veniam porro cum amet?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus placeat eligendi iure ipsum, aliquid sint, 
                    itaque sunt totam similique iste consectetur dicta eaque officia nihil molestiae! Incidunt, officia culpa.
                    </p>
                </div>

                {# link to the game's page #}
                <div class="column is-one-third has-text-centered">
                    <a href="{{ path('play') }}" class="button is-primary is-uppercase">Jouer</a>
                    {# If the user is not connected #}
                    {% if message is defined %}
                        <article class="message is-danger mt-2">
                            <div class="message-header">
                                <p>Vous n'êtes pas connecté</p>
                            </div>
                            <div class="message-body">
                                <a href="{{ path('app_login') }}">{{message}}</a>
                            </div>
                        </article>
                    {% endif %}
                </div>  
            </div>
        </section>

        {# group presentation #}
        <section class="section">
            <p class="is-size-3 is-uppercase">Equipe du Développement</p>
            <div class="columns mt-3">
                <div class="column">
                    <figure class="image is-3by2 has-text-centered">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Photo de Bastien">
                    </figure>
                    <p class="is-size-5">Bastien</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut, ullam perferendis architecto corrupti error enim illo hic facere saepe maiores culpa placeat pariatur tempore voluptates, 
                    quisquam nulla molestiae libero earum.</p>
                </div>
                <div class="column">
                    <figure class="image is-3by2 has-text-centered">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Photo de Kévin">
                    </figure>
                    <p class="is-size-5">Kévin</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut, ullam perferendis architecto corrupti error enim illo hic facere saepe maiores culpa placeat pariatur tempore voluptates, 
                    quisquam nulla molestiae libero earum.</p>
                </div>
                <div class="column">
                    <figure class="image is-3by2 has-text-centered">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Photo de Narjes">
                    </figure>
                    <p class="is-size-5">Narjes</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut, ullam perferendis architecto corrupti error enim illo hic facere saepe maiores culpa placeat pariatur tempore voluptates, 
                    quisquam nulla molestiae libero earum.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
